#albumList {
    width: 200px;
    height: calc(100% - 60px - 1px);
    border-right: 1px solid #9DA7B2;
    float: left;
}

#albumList img {
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 5px gray;
    background-color: cyan;
}

.albumThumbnailNormal {
    margin: 12px 25px 12px 25px;
}

#albumList img:hover {
    box-shadow: 4px 4px 10px gray;
}

.choosedAlbum {
    border-left: 5px solid #FF1300;
    margin: 12px 25px 12px 20px;
}